/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 {
    padding: 24px;
    margin: 24px;
    border: 12px solid #fed403;
    max-width: 360px;
}
img {
    width: 100%;
    border: 8px solid #fed403;

}
.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    background-color: #fed403;
}
.attack {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.bold {
    font-weight: bold;
}
.data {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #fed403;
    padding: 5px;
}
.description {
    border-bottom: 2px solid;
    padding: 5px;
    width: 100%;
}
#pokemon-card-1, #pokemon-card-2  {
    background: linear-gradient(to bottom right,#56e769,#87bd8e, #1d6026);   
}
#pokemon-card-3 {
    background: linear-gradient(to bottom right,#e7aa2f,#e95a21, #ec9034);
}
#pokemon-card-4 {
    background: linear-gradient(to bottom right,#45e3ec,#96eaee, #28f7ca);
}