/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    box-sizing: border-box;
    width: 700px;
    box-shadow: inset;
    background: linear-gradient(to bottom right,#f5da7f,rgb(248, 168, 19));
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}
#content {
    vertical-align: top;
    margin: 24px;
}
h1 {
    color: #0e0ea0;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
}
h4 {
    background-color: #0e0ea0;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 12px;
}
#left-side, #right-side {
    display: inline-block;
    font-size: 10px;
}
#left-side {
    width: 65%;
}
#right-side {
    width: 34%;
}
#id-and-expiration  div {
    color: blue;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    }
#id-and-expiration div span {
    color: red;    
}

#address {
    font-weight: bold;
    font-size: 15px;
    padding: 12px;
}
#personal-info {
    display: inline-block;
    height: 48px;
    width: auto;
}
#data-fields {
    display: inline-block;
    font-size: 12px;  
    vertical-align: middle;
}
#data-left {
    display: inline-block;
    color: blue;
}
#data-left span {
    color: red;
}
#data-right {
    display: inline-block;
    color: blue;
}
#data-right span {
    color: red;
}
#small-pic {
    float: left;
    box-sizing: content-box;
}
#right-side {
    width: 200px;
    height: 250px;
    align-items: right;
    justify-content: right;
}
#donor {
    display: inline-block;
    color: red;
    font-weight: bold;
}
#real-id {
    display: inline-block;
    color: white;
}
#signature {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

/* I couldn't figure out how to re-size the images alone to fit the "parent" box,
and the vertical aling top for id and expiration also did not work. */