
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alex+Brush&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Guntur:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shanti&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: libre baskerville;
}
#navbar {
    background: 
    linear-gradient(
        to bottom, 
        #fcdc24, 
        #f8a72b,
        #ef683b
        );
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#navbar img {
    width: 100px;
    padding-top: 15px;
}
.links {
    padding: 24px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#navbar .cta-button {
    background-color: white;
    color: #ef683b;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#layout {
    width: 100%;
    font-size: 24px;
    height: 200vh;
}
#navbar {
    position: sticky;
    top: 0px;
}

#hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    align-items: center;
    border: 2px solid white;
}

#hero h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: libre baskerville;
    font-style: italic;
}

#footer {
    background: linear-gradient(to bottom, #ef683b, #f8a72b, #fcdc24);
    color: white;
    padding: 12px;
    width: 100%;
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 24px;
    margin: 50px;  
}
span {
    font-size: 15px;
}

#menu-hero {
    background-image: url(../images/menu-hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    align-items: center;
    border: 2px solid white;
    font-family: libre baskerville;
    font-style: italic;
}

#text {
    text-align: left;
    color: #ef683b;
    font-weight: bold;
    background-color: white;
    margin-right: 400px;  
    margin-top: 400px;
    padding: 2px;
    margin-left: .5px;
}

h2, h4, h5 {
   text-align: left;
   margin-left: 24px;
}

#two-columns {
    display: flex;
    margin: 12px;
}

#two-columns img {
    width: 250px;
    height: 275px;
    object-fit: cover; 
    
}

#two-columns h4 {
    text-align: center;  
    font-family: libre baskerville;
    font-style: italic;
    color: #ef683b;
}

#left-side {
    flex: 1;
    text-align: center;
}

#right-side {
    flex: 1;
    text-align: center;
}
@media screen and (max-width: 480px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    #navbar #logo {
        margin-right: 30px;
    }
    #navbar .cta-button {
        background-color: white;
        color: #ef683b;
        border-radius: 36px;
        padding: 12px 22px;
        font-size: 12px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
        margin-bottom: 8px;
    }
    #two-columns {
        flex-direction: column;
    }
    #text {
        color: #ffffff;
        text-align: center;
        font-size: 24px;
        background-color: transparent;
        font-weight: bold;
        flex-direction: column;
        align-items: center;
    }
    h5 {
        display: none;
    }
    #footer-navbar {
        flex-direction: column;
        font-size: 12px; 
        align-items: center;
    }
}

/* flex direction and aling items did not work in the footer-navbar 
not sure why, also having issues aligning the header content, along with the 
spacing - space between did not make a difference */