* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif
}

#two-columns-1 {
    display: flex;      
}

#sidebar {
    background-color: #fcd4da;
    width: 300px;
    padding: 24px;
    border-right: 5px solid #80007c;

}
#sidebar h2 {
    border-bottom: 2px solid #80007c;
    padding-bottom: 8px;
}
#sidebar ul {
    list-style: none;
    padding: 0px;
}
#sidebar ul a {
    color: #111;
    text-decoration: none;
}
#sidebar ul li {
    padding: 4px 0px;
}
#main-content {
    padding: 48px;
    flex: 1;
    
}
#sidebar-1 {
    background-color: #fcd4da;
    width: 300px;
    padding: 24px;
    border-left: 5px solid #80007c;
    order: 2;
}
h2 {
    text-align: center;
}
