* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "inter", sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
#hero-1 {
    background-image: url(../images/snowy-wasteland.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    align-items: center;
}
#hero-1 h1 {
    font-family: 'Lucida Grande';
    margin: 0px;
    font-size: 100px;
    color: #151554;
}
#hero-1 p {
    margin: 10px 0px 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans Regular';
    font-size: 24px;
}
#hero-1 .btn {
    display: inline-block;
    background-color: #151554;
    border-radius: 5px;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#hero-1 .btn:hover {
    background-color: #2d7444;
    color: white;
}

/* Hero-2 */

#hero-2 {
    background-image: url(../images/misty-mountains.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;
    align-items: top;
    
}
#hero-2 h1 {
    font-family: 'Lucida Grande';
    margin: 50px;
    font-size: 80px;
    color: #2d7444;
}
#hero-2 p {
    margin: 50px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #02521d;
}
#hero-2 .btn {
    display: inline-block;
    margin-left: 50px;
    background-color: #2d7444;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#hero-2 .btn:hover {
    background-color: #b4640f;
    color: white;
}


/* Hero-3 */

#hero-3 {
    background-image: url(../images/desert-tumbleweed.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    display: flex;   
    align-items: top;
    justify-content: flex-end;
}
/* Justify content confused me as the content did not align to the right, nor 
the image when using background-position*/

#hero-3 h1 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding: 50px;
    font-size: 80px;
    color: #e0dcdc;
}
#hero-3 p {
    padding: 50px;
    font-family: Verdana;
    font-size: 20px;
    color: white;
}
#hero-3 .btn {
    display: inline-block;
    margin-left: 50px;
    background-color: #e69418;
    border: 1px solid white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#hero-3 .btn:hover {
    background-color: white;
    color: black;
}

#hero-3 .container {
    width: 50%;
    margin-right: 0px;
    padding-right: 25px;

}
