* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header . . "
    "sidebar-left main sidebar-right"
    ;
    gap: 5px;
}

#header {
    grid-area: header;
    padding: 0px 36px;
    font-weight: bolder;

    /* How can I center the header in a way that iot covers all 2 culumns space 
    and add a (<hr>) or divider & resize it to make it bigger */
}
#m {
    color: #f333f3;  
}
#e {
    color: #ff0000;
}
#b {
    color: #3535ef;
}
#a {
    color: #ffe53ebe;
}
#y {
    color: #1b9f19;
}

#sidebar-left {
    grid-area: sidebar-left;
}
img {
    width: 200px;
}
/* I need to change the size of the image in a way that the hight is equal to 
the hight of sibling columns */

#main {
    grid-area: main;
}
/* h3 is not aligned with img column top, how can I correct that -  need to 
separate each button to be able to create a separate box per each one */

#sidebar-right {
    grid-area: sidebar-right;
}
/* need to separate content and designate to two separate boxes */