* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
    font-weight: bolder;
    border-bottom: 2px solid;
}
#m {
    color: #f333f3;  
}
#e {
    color: #ff0000;
}
#b {
    color: #3535ef;
}
#a {
    color: #ffe53ebe;
}
#y {
    color: #1b9f19;
}

#sidebar-left {
    grid-area: sidebar-left;
    padding: 24px;
}
img {
    width: 100%;
}
p {
    font-size: 12px;
}
#main {
    grid-area: main;
    padding: 24px;
}
h3 {
    border-bottom: 1px solid;
    padding: 12px;
}
h5 #condition {
    font-weight: lighter;
}
h5 #price {
    font-weight: lighter;
}
h5 #number {
    font-size: larger;
}
#date {
    font-style: italic;
    color: #3535ef;
}
.botton1 {
    padding: 5px;
    background-color: #1515d5be;
    border-radius: 5px;  
}
.botton2 {
    padding: 5px;
    background-color: #44a6debe;
    border-radius: 5px;
}
.botton3 {
    padding: 5px;
    background-color: #4589b3be;
    border-radius: 5px;
}

#sidebar-right {
    grid-area: sidebar-right;
    padding: 24px;
}
.shop-conditions {
    border: 1px solid;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 20px;
}
.seller-info {
    border: 1px solid;
    border-radius: 8px;
    padding: 12px;
}
