#head1 {
    font-family: cursive;
    text-align: center;
}
#c1 {
    background-color: #bb877a;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c2 {
    background-color: #d5a294;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c3 {
    background-color: #debcb2;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#head2 {
    font-family: cursive;
    text-align: center;
}
#c4 {
    background-color: #967b68;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c5 {
    background-color: #78655e;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c6 {
    background-color: #56514f;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#head3 {
    font-family: cursive;
    text-align: center;
}
#c7 {
    background-color: #b86b77;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c8 {
    background-color: #eabfb9;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#c9 {
    background-color: #f6cfca;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
