* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* client 1 */

#client1, #navbar {
    background: 
    linear-gradient(
        to bottom, 
        #f4b669, 
        #ddbd8d
        );
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar h1 {
    color: #b2502f;
    padding: 24px;
}
#navbar a {
    text-decoration: none;
    color: #b2502f;
    font-weight: bold;
    padding: 24px;
    font-size: 18px;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar {
    position: sticky;
    top: 0px;
}

.cta-button {
    background-color: white;
    border-radius: 28px;
    margin-right: 15px;
}

/* client 2 */

